@font-face {
  font-family: myfont;
  src: url('UDDIGIKYOKASHON-R.TTC');
  font-weight: normal;
}

@font-face {
  font-family: myfont;
  src: url('UDDIGIKYOKASHON-B.TTC');
  font-weight: bold;
}

body {
  font-family: myfont;
  text-align: center;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-height: 400px;
}

.card {
  font-size: 32px;
}

.definition-container {
  font-size: 22px;
}

.back-box {
  width: auto;
  max-width: 800px;
}

.audio {
  position: absolute;
  top: 14px;
  left: 14px;
  opacity: 0.6;
}

.replay-button svg {
  width: 25px;
  height: 25px;
}

.back-sentence {
  writing-mode: vertical-rl;
  text-align: left;
  padding: 20px 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 0 5px #7c6f64;
  max-height: 400px;
}

b,
strong {
  color: #FFA313;
}

.word {
  font-size: 50px;
}

.furigana {
  display: block;
  font-size: 0.5em;
  line-height: .5;
  color: #aaa;
}

.toggle {
  display: none;
}

.nsfw {
  filter: blur(25px);
  transition: filter 0.3s ease;
  cursor: pointer;
}

.toggle:checked ~ .flexgrid .nsfw {
  filter: blur(0px);
}

.frequency-badge {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
}

.secondary-def, .accent {
  font-size: 0.65em;
}

/* grid setup to allow for right alignment on desktop */
.flexgrid {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.flexgrid-left,
.flexgrid-right {
  display: flex;
  flex-direction: column;
}

.flexgrid-right {
  overflow: visible;
  position: relative;
}

.main-image {
  display: flex;
  justify-content: center;
}

.back-sentence {
  position: relative; /* Allow .accent to be positioned below */
  align-self: start;
}

.definition-container {
  margin-top: 10px;
}

.accent {
  display: block;
  width: 100%;
  font-size: 0.65em;
  text-align: right;
  overflow: visible;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .flexgrid {
    flex-direction: column;
  }

  .flexgrid-right {
    justify-content: center;
  }

  .accent {
    position: static;
		right: 0;
    top: 100%;
    font-size: 0.55em;
  }

  .back-sentence {
    writing-mode: horizontal-tb;
    text-align: center;
    position: relative;
    padding: 10px;
    position: static;
    grid-area: box2;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px #7c6f64;
  }

  .card {
    font-size: 24px;
  }

  .definition-container {
    max-width: 90%;
  }
}