@font-face {
  font-family: myfont;
  src: url('UDDIGIKYOKASHON-R.TTC');
  font-weight: normal;
}

@font-face {
  font-family: myfont;
  src: url('UDDIGIKYOKASHON-B.TTC');
  font-weight: bold;
}

body {
  font-family: myfont;
  text-align: center;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-height: 400px;
}

.card {
  font-size: 32px;
}

.definition-container {
  font-size: 26px;
}

.back-box {
  width: auto;
  max-width: 800px;
}

.audio {
  position: absolute;
  top: 14px;
  left: 14px;
  opacity: 0.6;
}

.replay-button svg {
  width: 25px;
  height: 25px;
}

.back-sentence {
  writing-mode: vertical-rl;
  text-align: left;
  padding: 20px 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 0 5px #7c6f64;
  max-height: 400px;
}

b,
strong {
  color: #FFA313;
}

.word {
  font-size: 50px;
}

.furigana {
  display: block;
  font-size: 0.5em;
  line-height: .5;
  color: #aaa;
}

.toggle {
  display: none;
}

.nsfw {
  filter: blur(25px);
  transition: filter 0.3s ease;
  cursor: pointer;
}

.toggle:checked ~ .flexgrid .nsfw {
  filter: blur(0px);
}

.frequency-badge {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
}

.secondary-def, .accent {
  font-size: 0.65em;
}

/* grid setup to allow for right alignment on desktop */
.flexgrid {
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box2"
    "box3 box4";
}

.main-image {
  grid-area: box1;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.back-sentence {
  grid-area: box2;
  overflow: hidden;
}

.definition-container {
  grid-area: box3;
  padding: 10px 0;
}

.accent {
  grid-area: box4;
}

@media screen and (max-width: 768px) {
  .flexgrid {
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4";
  }

  .back-sentence {
    writing-mode: horizontal-tb;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px #7c6f64;
  }

  .card {
    font-size: 24px;
  }

  .definition-container {
    max-width: 90%;
  }
}